[submodule "common"]
	path = common
	url = https://github.com/HELIX-GR/common.git
[submodule "cli"]
	path = cli
	url = https://github.com/HELIX-GR/cli.git
[submodule "xfs-utils"]
	path = xfs-utils
	url = https://github.com/HELIX-GR/xfs-utils.git
