#root {
  div {
    &.results-main {
      background-color: $main-black;
    }
    &.results-data {
      background-color: $data-color;
      section.main-results-page-content .results-main-content section.results-main-sidebar .search-form-wrapper .landing-search-form {
        .main-form-content {
          border-bottom-color: $data-color;
          .domain-pills {
            display: none;
          }
        }
        .landing-search-button {
          background-color: $data-color;
        }
      }
      section .results-main-content .results-main-result-set .main-results-border-bottom {
        border-top-color: $data-color;
      }
      section.main-results-page-content .results-main-content section.results-main-sidebar .main-results-advanced-search .border-bottom-bar,
      section.main-results-page-content .results-main-content section.results-main-result-set .main-results-border-bottom {
        border-top-color: $data-color;
      }
      footer#footer.main-footer {
        background-color: $data-color;
      }
      .side-heading {
        border-bottom: solid 10px $data-color;
      }
      .nav-bar {
        border-bottom: 1px $data-color solid;
        li.active {
          border-left: 1px $data-color solid;
          border-right: 1px $data-color solid;
          border-top: 1px $data-color solid;
          a {
            color: $data-color;
          }
        }
      }
      .package-title {
        color: $data-color;
        a,
        a:hover {
          color: $data-color;
        }
      }
      .resource-component {
        a,
        a:hover {
          color: $data-color;
        }
      }
      .result-items {
        .separator {
          border-top: 1px solid $data-color;
        }
      }
      .btn-group-main {
        border: 2px solid $data-color !important;
        color: $data-color;
      }
    }
    &.results-pubs {
      background-color: $pubs-color;
      section.main-results-page-content .results-main-content section.results-main-sidebar .search-form-wrapper .landing-search-form {
        .main-form-content {
          border-bottom-color: $pubs-color;
          .domain-pills {
            display: none;
          }
        }
        .landing-search-button {
          background-color: $pubs-color;
        }
      }
      section .results-main-content .results-main-result-set .main-results-border-bottom {
        border-top-color: $pubs-color;
      }
      section.main-results-page-content .results-main-content section.results-main-sidebar .main-results-advanced-search .border-bottom-bar,
      section.main-results-page-content .results-main-content section.results-main-result-set .main-results-border-bottom {
        border-top-color: $pubs-color;
      }
      footer#footer.main-footer {
        background-color: $pubs-color;
      }
      .side-heading {
        border-bottom: solid 10px $pubs-color;
      }
      .nav-bar {
        border-bottom: 1px $pubs-color solid;
        li.active {
          border-left: 1px $pubs-color solid;
          border-right: 1px $pubs-color solid;
          border-top: 1px $pubs-color solid;
          a {
            color: $pubs-color;
          }
        }
      }
      .package-title {
        color: $pubs-color;
        a,
        a:hover {
          color: $pubs-color;
        }
      }
      .result-items {
        .separator {
          border-top: 1px solid $pubs-color;
        }
      }
      .btn-group-main {
        border: 2px solid $pubs-color !important;
        color: $pubs-color;
      }
    }
    &.results-lab {
      background-color: $lab-color;
      border-top: 15px solid $lab-color;
      section.main-results-page-content .results-main-content section.results-main-sidebar .search-form-wrapper .landing-search-form {
        .main-form-content {
          border-bottom-color: $lab-color;
          .domain-pills {
            display: none;
          }
        }
        .landing-search-button {
          background-color: $lab-color;
        }
      }
      section .results-main-content .results-main-result-set .main-results-border-bottom {
        border-top-color: $lab-color;
      }
      section.main-results-page-content .results-main-content section.results-main-sidebar .main-results-advanced-search .border-bottom-bar,
      section.main-results-page-content .results-main-content section.results-main-result-set .main-results-border-bottom {
        border-top-color: $lab-color;
      }
      footer#footer.main-footer {
        background-color: $lab-color;
      }
      .side-heading {
        border-bottom: solid 10px $lab-color;
      }
      .nav-bar {
        border-bottom: 1px $lab-color solid;
        li.active {
          border-left: 1px $lab-color solid;
          border-right: 1px $lab-color solid;
          border-top: 1px $lab-color solid;
          a {
            color: $lab-color;
          }
        }
      }
      .package-title {
        color: $lab-color;
        a,
        a:hover {
          color: $lab-color;
        }
      }
      .resource-component {
        a,
        a:hover {
          color: $lab-color;
        }
      }
      .result-items {
        .separator {
          border-top: 1px solid $lab-color;
        }
      }
      .btn-group-main {
        border: 2px solid $lab-color !important;
        color: $lab-color;
      }
    }
    section.main-results-page-content {
      margin: 0px 15px 0 15px;
      background-color: $neutral-grey;
      position: relative;
      .results-main-content {
        position: relative;
        max-width: 1024px;
        margin: auto;
        padding-top: 200px;
        display: flex;
        justify-content: space-between;
        section.results-main-sidebar {
          padding: 0;
          width: 270px;
          max-width: 320px;
          position: relative;
          margin-top: 2px;
          margin-bottom: 30px;
          z-index: 2;
          .search-form-wrapper {
            position: relative;
            display: block;
            max-width: 100%;
            margin: auto;
            width: 100%;
            .landing-search-form {
              .main-form-content {
                width: calc(100% - 45px);
                border-bottom: solid 3px black;
                position: relative;
                input.landing-search-text {
                  border: none;
                  background-color: transparent;
                  font-size: 17px;
                  font-size: 20px;
                  width: 100%;
                  height: 45px;
                  line-height: 2.3;
                  letter-spacing: .025em;
                  color: $main-black;
                  font-weight: 400;
                  outline: none;
                  padding-left: 8px;
                  text-overflow: ellipsis;
                  &::-moz-selection {
                    color: white;
                    background-color: #BFBFBF;
                  }
                  &::selection {
                    color: white;
                    background-color: #BFBFBF;
                  }
                  &:focus {
                    border: none;
                  }
                }
                .domain-pills {
                  padding-top: 20px;
                  width: 100%;
                  z-index: 3;
                  position: absolute;
                  left: 0;
                  .filter-pill {
                    cursor: pointer;
                    user-select: none;
                    margin-right: 10px;
                    color: white;
                    font-size: 14px;
                    padding: 6px 8px;
                    height: 25px;
                    line-height: 15px;
                    float: left;
                    border-radius: 17.5px;
                    background-color: #BFBFBF;
                    opacity: 1;
                    transition: all .2s ease-in-out;
                    -webkit-transition: all .2s ease-in-out;
                    -moz-transition: all .2s ease-in-out;
                    -o-transition: all .2s ease-in-out;
                    &:hover {
                      opacity: .5;
                    }
                    &:after {
                      content: '\f00d';
                      display: inline-block;
                      margin-left: 4px;
                      font-family: 'FontAwesome';
                      font-size: 12px;
                      line-height: 15px;
                      vertical-align: middle;
                      position: relative;
                      top: -1px;
                    }
                    &:last-child {
                      margin-right: 0px;
                    }
                    &.selected {
                      &:after {
                        content: '\f00c';
                      }
                      &.pill-data {
                        background-color: $data-color;
                      }
                      &.pill-pubs {
                        background-color: $pubs-color;
                      }
                      &.pill-lab {
                        background-color: $lab-color;
                      }
                    }
                  }
                }
              }
              button.landing-search-button {
                color: #fff;
                background-color: $main-black;
                outline: none;
                border: none;
                border-radius: 25px;
                height: 50px;
                position: absolute;
                top: 50%;
                width: 50px;
                transform: translateY(-50%);
                right: -8px;
                opacity: 1;
                margin-top: 2px;
                transition: all .2s ease-in-out;
                -webkit-transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
                &:hover {
                  opacity: .5;
                }
              }
            }
          }
          .main-results-advanced-search {
            margin-top: 80px;
            h4.header {
              margin: 0;
              padding-bottom: 8px;
              padding-left: 13px;
              font-weight: 700;
            }
            .border-bottom-bar {
              border-top: solid 10px $main-black;
              height: 0;
              position: relative;
              display: block;
              margin-bottom: 18px;
            }
          }
          .fields {
            display: flex;
            flex-direction: column;
            .fields-group {
              flex: 1 1 auto;
              margin-bottom: 20px;
            }
          }
          .param-box {
            margin-top: 18px;
            &.providers {
              max-height: unset;
            }
            &.filters {
              max-height: unset;
              overflow-y: unset;
            }
            &.less {
              overflow: hidden;
            }
            .form-control {
              border: none;
              border-bottom: 2px solid #707070;
              border-radius: 0px;
              font-size: 17px;
              line-height: 20px;
              font-weight: 300;
              color: #707070;
              background: none;
            }
            #react-select-2-input {
              font-size: 17px !important;
              line-height: 20px;
              font-weight: 300;
              color: #707070;
            }
            .title {
              font-size: 15;
              line-height: 18px;
              font-weight: 700;
            }
            .title-label {
              font-family: $body_font;
              font-weight: 400;
              font-size: 15px;
              line-height: 1;
              letter-spacing: .025em;
            }
            .switches {
              margin-top: 24px;
              &.more {
                overflow-y: auto;
              }
              &.less {
                overflow-y: hidden;
              }
              .checkbox-text {
                font-size: 12px;
                line-height: 14px;
                font-weight: 400;
                padding-left: 15px;
                margin-top: 2px;
                color: #67676A;
              }
              label {
                display: block;
                border-bottom: 1px solid $details-grey;
                padding: 7px 0;
                position: relative;
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                color: rgb(103, 103, 106);
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                margin-bottom: 5px;
                input {
                  position: relative;
                  top: 2px;
                  background-color: white;
                  border: 1px solid $main-black;
                  border-radius: 2px;
                  margin-right: 10px;
                }
              }
            }
            .more-link {
              margin-left: 15px;
              margin-top: 7px;
              a {
                font-size: 12px;
                font-weight: 400;
                line-height: 14px;
                color: #67676A;
                cursor: pointer;
              }
            }
          }
          .location.param-box {
            .title {
              margin-bottom: 0px;
            }
            img.temp-map {
              width: 100%;
            }
          }
          .side-heading {
            font-size: 18px;
            font-weight: 400;
            line-height: 1.2;
            margin-bottom: 20px;
            margin-top: 20px;
            padding: 10px 15px 10px 12px;
            &.org-heading {
              margin-top: 0;
              padding-top: 0;
            }
            &.grayed {
              background-color: #ebebeb;
            }
          }
          .side-content {
            padding: 25px 30px 30px;
            text-align: center;
            img {
              max-width: 200px;
            }
          }
          .side-tags {
            font-weight: 300;
            text-transform: uppercase;
            .topics {
              display: flex;
              color: #67676A;
              font-size: 12px;
              line-height: 14px;
              margin-bottom: 10px;
              margin-right: 5px;
              float: left;
              max-width: 270px;
              .text {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding: 5px;
                background: #DDDDDD;
                cursor: pointer;
              }
              .edge {
                border: solid 12px #DDDDDD;
                border-bottom-color: transparent;
                border-top-color: transparent;
                border-right-color: transparent;
              }
            }
          }
          .license {
            padding: 20px 30px 30px 15px;
            line-height: 20px;
            .facet-icon {
              margin: 0 2px 0 0;
              height: 20px;
            }
            a {
              font-weight: 300;
              text-transform: uppercase;
              color: #67676A;
            }
          }
        }
        section.results-main-result-set {
          min-height: 520px;
          width: 705px;
          padding-bottom: 70px;
          .breadcrumbs-pagination {
            display: block;
            width: 100%;
            margin: auto;
            margin-bottom: 16px;
            position: relative;
            height: 15px;
            &.top {
              margin-bottom: 15px;
              padding-left: 8px;
            }
            &.bottom {
              margin-top: -10px;
              padding-left: 8px;
              .breadcrumbs {
                top: 3px;
              }
            }
            .breadcrumbs {
              position: absolute;
              top: 1px;
              left: 0;
              margin-left: 8px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              width: calc(100% - 8px);
              .breadcrumbs-part {
                font-weight: 400;
                font-size: 15px;
                color: $details-grey;
                letter-spacing: .025em;
                line-height: 1.2;
                position: relative;
                opacity: 1;
                transition: all .2s ease-in-out;
                -webkit-transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
                &:after {
                  content: "\\\\\\";
                  color: $details-grey;
                  margin-left: 5px;
                  margin-right: 3px;
                  position: relative;
                  top: -1px
                }
                &:last-child {
                  color: $main-black;
                  margin-right: 0;
                  &:after {
                    content: '';
                  }
                }
                &:hover {
                  opacity: .5;
                  &:after {
                    opacity: 1;
                  }
                }
              }
            }
            .pagination-block {
              position: absolute;
              top: 0;
              right: 0;
              ul {
                li {
                  display: inline;
                  &.current-item {
                    a {
                      position: relative;
                      top: 1px;
                      font-weight: 500;
                      font-size: 17px;
                      text-decoration: none;
                    }
                  }
                }
              }
              .pagination-item {
                margin: 0 10px;
                font-weight: 300;
                font-size: 15px;
                color: $main-black;
                letter-spacing: .025em;
                line-height: 1.2;
                opacity: 1;
                cursor: pointer;
                transition: all .2s ease-in-out;
                -webkit-transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                -o-transition: all .1s ease-in-out;
                &:hover {
                  opacity: .5;
                }
              }
            }
          }
          .main-results-border-bottom {
            border-top: solid 10px $main-black;
            position: relative;
            display: block;
            text-align: right;
            margin-bottom: 35px;
            margin-top: 18px;
            .order-by {
              font-weight: 400;
              font-size: 12px;
              color: $main-black;
              letter-spacing: .025em;
              line-height: 1.4;
              padding-top: 14px;
              select {
                font-weight: 400;
                font-size: 12px;
                margin-left: 20px;
                border-radius: 6px;
                padding-left: 4px;
                width: 150px;
                height: 30px;
                background: $neutral-grey;
              }
            }
          }
          .main-results-result-count {
            float: left;
            position: relative;
            padding-left: 8px;
            padding-top: 18px;
            font-weight: 300;
            font-size: 12px;
            color: $main-black;
            letter-spacing: .025em;
            line-height: 21px;
            vertical-align: middle;
            max-width: 420px;
            word-break: break-word;
            text-align: left;
          }
          .result-items {
            padding-bottom: 40px;
            .result-item {
              background-color: $neutral-grey;
              max-width: 1024px;
              margin: -1px auto auto;
              padding: 15px;
              border-left: solid 10px transparent;
              transition: all .2s ease-in-out;
              -webkit-transition: all .2s ease-in-out;
              -moz-transition: all .2s ease-in-out;
              -o-transition: all .1s ease-in-out;
              position: relative;
              &.data {
                &:hover {
                  border-left-color: $data-color;
                }
                .title {
                  color: $data-color;
                  .pill {
                    background-color: $data-color;
                  }
                }
              }
              &.pubs {
                &:hover {
                  border-left-color: $pubs-color;
                }
                .title {
                  color: $pubs-color;
                  .pill {
                    background-color: $pubs-color;
                  }
                }
              }
              &.lab {
                &:hover {
                  border-left-color: $lab-color;
                }
                .title {
                  color: $lab-color;
                  .pill {
                    background-color: $lab-color;
                  }
                }
              }
              &:first-child {
                padding-top: 25px;
              }
              &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                display: block;
                width: 100%;
                height: 0;
                border-bottom: solid 1px $details-grey;
                transition: all .2s ease-in-out;
                -webkit-transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                -o-transition: all .1s ease-in-out;
                z-index: 1;
              }
              &:last-child:after {
                border-bottom: none;
              }
              &:hover {
                background-color: white;
                border-bottom-color: transparent;
                z-index: 2;
                &:after {
                  border-bottom-color: transparent;
                }
                .btn-favorite {
                  display: block;
                }
              }
              .date-of-entry {
                color: $details-grey;
                font-weight: 400;
                font-size: 12px;
                letter-spacing: .05;
                line-height: 1.3;
                a {
                  color: inherit;
                }
              }
              .btn-favorite {
                float: right;
                margin-right: 11px;
                display: none;
                opacity: 0.5;
                cursor: pointer;
                &.active {
                  opacity: 1;
                  display: block;
                }
              }
              h3.title {
                position: relative;
                margin: 0;
                line-height: 1.3;
                padding-top: 8px;
                font-weight: 500;
                width: 80%;
                a {
                  color: inherit;
                  display: inline-block;
                  &:hover {
                    color: inherit;
                  }
                }
                .pill {
                  position: relative;
                  top: -4px;
                  user-select: none;
                  margin-right: 8px;
                  color: white;
                  font-size: 11px;
                  padding: 2px 5px;
                  height: 18px;
                  line-height: 15px; // float: left;
                  display: inline-block;
                  border-radius: 9px;
                  background-color: #BFBFBF;
                  &:last-child {
                    margin-right: none;
                  }
                }
              }
              .notes {
                font-weight: 300;
                margin-top: 8px;
                line-height: 22px;
              }
              .service {
                margin-top: 8px;
                font-weight: 400;
                font-size: 12px;
                color: $details-grey;
                letter-spacing: .05em;
                line-height: 1.3;
                a {
                  cursor: default;
                  color: inherit;
                  &:hover {
                    color: inherit;
                  }
                }
              }
              .tag-list {
                margin-top: 7px;
                padding: 0 !important;
                .tag-box-other {
                  background-color: #E0E0E0;
                  color: $details-grey;
                  border: 0;
                }
                .tag-box-category {
                  border-radius: 1px;
                  margin-right: 15px;
                  font-weight: 500;
                }
              }
              .bottom-separator {
                display: none;
                width: 100%;
                height: 0;
                border-bottom: solid 1px $details-grey;
              }
            }
            .nav-bar {
              margin-bottom: 20px;
              list-style: none;
              float: left;
              width: 100%;
              padding-left: 25px;
              margin-top: 10px;
              .package-language {
                display: block;
                margin-top: 5px;
                margin-left: 20px;
                margin-right: 10px;
                a {
                  cursor: default;
                  font-size: 18px;
                  font-weight: 500;
                  color: #b2b2b2;
                  text-transform: uppercase;
                }
              }
              .result-icons {
                display: flex;
                margin-bottom: 20px;
              }
              .btn-favorite {
                cursor: pointer;
                opacity: 0.5;
                &.active {
                  opacity: 1;
                }
                a {
                  display: inline-block;
                }
              }
              .btn-save {
                margin-left: 15px;
                a {
                  display: inline-block;
                }
              }
              .package-title {
                margin-bottom: 10px;
                font-weight: 500;
                line-height: 50px;
              }
              .dataset-dates {
                margin-bottom: 30px;
                color: #666;
                font-size: 13px;
                font-weight: 400;
                display: inline-block;
                line-height: 19px;
                .title {
                  float: left;
                }
                .date {
                  font-weight: 500;
                  margin-left: 180px;
                  letter-spacing: 1px;
                }
              }
              .nav-menu {
                text-align: center;
                li {
                  float: left;
                  padding: 20px 1px 10px;
                  width: 33%;
                  text-transform: uppercase;
                  line-height: 20px;
                  &.active {
                    border-bottom: 1px #ebebeb solid;
                    margin-bottom: -1px;
                    font-weight: 500;
                  }
                  i.fa {
                    letter-spacing: 0.23rem;
                  }
                }
              }
            }
            .package-notes {
              display: inline-block;
              margin-top: 20px;
              margin-bottom: 30px;
              font-weight: 300;
              line-height: 24px;
              font-size: 15px;
              p {
                margin-bottom: 10px;
              }
            }
            .package-resources {
              list-style: none;
              .inline {
                padding-left: 25px;
              }
              .package-resource-list {
                .resource-component {
                  position: relative;
                  padding: 10px 0 10px 60px;
                  margin-bottom: 0;
                  border-radius: 3px;
                  max-height: 80px;
                  .format-label {
                    background-repeat: no-repeat;
                    background-position: 0 0;
                    background-size: 62%;
                    position: absolute;
                    width: 50px;
                    height: 42px;
                    top: 5px;
                    left: 5px;
                  }
                  .description {
                    font-weight: 300;
                    font-size: 11px;
                    line-height: 12px;
                    width: 60%;
                  }
                  .btn-group {
                    float: right;
                    display: flex;
                    flex-direction: column;
                    a {
                      text-align: center;
                      margin-top: 7px;
                    }
                    a:first-child {
                      margin-top: 0px;
                    }
                  }
                }
              }
            }
            .citation {
              margin-top: 30px;
              .inline {
                padding-left: 25px;
              }
              .citation-component {
                position: relative;
                padding: 10px 0 10px 0px;
                margin-bottom: 0;
                .citation-text {
                  margin: 10px 0px;
                  border: 1px dashed #6F6F6F;
                  background: lightgray;
                  padding: 10px;
                }
              }
            }
            .additional-info {
              .inline {
                margin-top: 60px;
                padding-left: 25px;
                float: left;
                text-transform: uppercase;
              }
            }
          }
          .separator {
            margin-top: 25px;
            margin-bottom: 30px;
            width: 100%;
          }
          .btn-group-main {
            background-color: #fff;
            font-family: Roboto !important;
            font-weight: 500;
            font-size: 12px;
            padding: 5px 25px;
          }
        }
      }
    }
  }
}