/*
 * Theme
 */

$layout-fixed-width :1366px;
@import 'theme/theme';

/*
 * Customize styles for 3rd party components
 */

@import 'vendor/react-toastify';
@import 'vendor/react-table';

/*
 * Import HELIX react components
 */

@import 'components/advanced-search';
@import 'components/checkbox';
@import 'components/login';
@import 'components/map';

 /*
  * Custom rules
  */
 
 .menu-wrapper .menu-item .active-link {
   border-bottom: 3px solid;
 }
 
 /*
  * Override bootstrap defaults
  */
 
 .modal-open {
   overflow: auto;
 }
 
 .modal-content {
   border-radius: 0px;
 }
