/*
 * Theme
 */

$layout-fixed-width :1366px;
@import 'theme/theme';

/*
 * Customize styles for 3rd party components
 */

@import 'vendor/react-toastify';
@import 'vendor/react-table';

/*
 * Import HELIX react components
 */

@import 'components/advanced-search';
@import 'components/checkbox';
@import 'components/cookie-consent';
@import 'components/login';
@import 'components/map';

/*
  * Custom rules
  */

.menu-wrapper .menu-item .active-link {
  border-bottom: 3px solid;
}

.border-placeholder {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 15px;
  background: $lab-color;
  z-index: 1;
}

/*
  * Override bootstrap defaults
  */

.modal-open {
  overflow: auto;
}

.modal-content {
  border-radius: 0px;
}

/**
  * Override Material
  */

div[class*="MuiPaper-rounded"] {
  border-radius: 0px;
}

div[class*="MuiPaper-elevation"] {
  box-shadow: none;
}

button[class*="MuiTab"]:focus {
  outline: none;
}