#root {
  div {
    &.news {
      border-left: 15px solid $main-black;
      border-right: 15px solid $main-black;
    }
    section.news-landing-page-content {
      margin: 0 15px 0px 15px;
      padding-bottom: 55px;
      background-color: $neutral-grey;
      padding: 0 132px 110px 132px;
      .container-fluid {
        padding-top: 45px;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 0;
        .row {
          padding-right: -25px;
          padding-left: -25px;
        }
        .col-xs-1,
        .col-sm-1,
        .col-md-1,
        .col-lg-1,
        .col-xs-2,
        .col-sm-2,
        .col-md-2,
        .col-lg-2,
        .col-xs-3,
        .col-sm-3,
        .col-md-3,
        .col-lg-3,
        .col-xs-4,
        .col-sm-4,
        .col-md-4,
        .col-lg-4,
        .col-xs-5,
        .col-sm-5,
        .col-md-5,
        .col-lg-5,
        .col-xs-6,
        .col-sm-6,
        .col-md-6,
        .col-lg-6,
        .col-xs-7,
        .col-sm-7,
        .col-md-7,
        .col-lg-7,
        .col-xs-8,
        .col-sm-8,
        .col-md-8,
        .col-lg-8,
        .col-xs-9,
        .col-sm-9,
        .col-md-9,
        .col-lg-9,
        .col-xs-10,
        .col-sm-10,
        .col-md-10,
        .col-lg-10,
        .col-xs-11,
        .col-sm-11,
        .col-md-11,
        .col-lg-11,
        .col-xs-12,
        .col-sm-12,
        .col-md-12,
        .col-lg-12 {
          padding-right: 25px;
          padding-left: 25px;
        }
        &.news-helix-container {
          padding-top: 47px;
          max-width: $layout-fixed-width;
          h4.news-header {
            margin: 0;
            padding: 13px 10px 13px 0px;
            font-weight: bold;
            font-size: 1rem;
          }
          h4.news-details-header {
            margin: 0;
            padding: 12px 0px 9px 33px;
            font-weight: 100;
            font-size: 1.2rem;
          }
          button.landing-search-button {
            color: white;
            background-color: $main-black;
            border: none;
            border-radius: 25px;
            height: 57px;
            right: 0;
            width: 100%;
            transition: all .2s ease-in-out;
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            font-size: 1.5rem; // TODO: Remove padding and letter spacing
            padding-left: 21px;
            letter-spacing: 0.01rem;
            &:hover i {
              opacity: .5;
            }
            i {
              font-size: 20px;
            }
          }
        }
      }
      .news-item-list {
        border-top: solid 10px $main-black;
        a {
          color: $main-black;
          &:hover {
            text-decoration: none;
            color: $main-black;
          }
        }
        h4.news-title {
          margin: 0;
          line-height: 1;
          padding-top: 10px;
          padding-left: 7px;
          padding-bottom: 10px;
          font-weight: 100;
          border-bottom: solid 1px $details-grey;
          font-size: initial;
          transition: all .2s ease-in-out;
          -webkit-transition: all .2s ease-in-out;
          -moz-transition: all .2s ease-in-out;
          -o-transition: all .2s ease-in-out;
          &:hover {
            opacity: .5;
          }
        }
        .news-text {
          font-weight: 300;
          line-height: 1.73;
          padding-top: 30px;
        }
        .news-link {
          font-size: 18px;
          line-height: 1.3;
          font-weight: 500;
          padding-top: 40px;
          transition: all .2s ease-in-out;
          -webkit-transition: all .2s ease-in-out;
          -moz-transition: all .2s ease-in-out;
          -o-transition: all .2s ease-in-out;
          &:hover {
            opacity: .5;
          }
        }
        .news-item {
          padding: 25px 0px 10px 0px;
          display: flex;
          border-bottom: solid 1px $details-grey;
          .featured-image {
            float: left;
            width: 14.5vw;
            padding-left: 22px;
            .aspect-ratio {
              position: relative;
              width: 100%;
              &:before {
                content: '';
                display: block;
                padding-top: 75%;
              }
              .image-content {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                overflow: hidden;
                background-size: cover;
                background-repeat: no-repeat;
                transition: all .2s ease-in-out;
                -webkit-transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
                &:hover i {
                  opacity: .5;
                }
              }
            }
          }
          .item-details {
            float: left;
            width: 80vw;
            padding-left: 35px;
            padding-right: 10px;
            .item-date {
              color: #666666;
              font-size: 12px;
              padding-top: 2px;
              line-height: 1.25;
              letter-spacing: .050;
              cursor: pointer;
              transition: all .2s ease-in-out;
              -webkit-transition: all .2s ease-in-out;
              -moz-transition: all .2s ease-in-out;
              -o-transition: all .2s ease-in-out;
              &:hover {
                opacity: .5;
              }
            }
            a {
              color: $main-black;
              transition: all .2s ease-in-out;
              -webkit-transition: all .2s ease-in-out;
              -moz-transition: all .2s ease-in-out;
              -o-transition: all .2s ease-in-out;
              &:hover {
                opacity: .5;
                text-decoration: none;
                color: $main-black;
              }
              h3.item-title {
                line-height: 1.1;
                font-weight: bold;
                padding-top: 20px;
              }
            }
            .item-excerpt {
              font-weight: 300;
              line-height: 1.4;
              padding-top: 19px;
              .read-more {
                font-family: $body_font;
                font-size: 13px;
                line-height: 1.6;
                font-weight: bold;
              }
            }
          }
        }
        .news-item-last {
          border-bottom: none;
        }
      }
      .news-item-details {
        border-top: solid 10px $main-black;
        margin: 0px 8px 0px 4px;
        a {
          color: $main-black;
          &:hover {
            text-decoration: none;
            color: $main-black;
          }
        }
        h4.news-title {
          margin: 0;
          line-height: 1;
          padding-top: 10px;
          padding-left: 7px;
          padding-bottom: 10px;
          font-weight: 100;
          border-bottom: solid 1px $details-grey;
          font-size: initial;
          transition: all .2s ease-in-out;
          -webkit-transition: all .2s ease-in-out;
          -moz-transition: all .2s ease-in-out;
          -o-transition: all .2s ease-in-out;
          &:hover {
            opacity: .5;
          }
        }
        .news-text {
          font-weight: 300;
          line-height: 1.73;
          padding-top: 30px;
        }
        .news-link {
          font-size: 18px;
          line-height: 1.3;
          font-weight: 500;
          padding-top: 40px;
          transition: all .2s ease-in-out;
          -webkit-transition: all .2s ease-in-out;
          -moz-transition: all .2s ease-in-out;
          -o-transition: all .2s ease-in-out;
          &:hover {
            opacity: .5;
          }
        }
        .news-item {
          padding: 18px 0px 10px 0px;
          display: flex;
          border-bottom: solid 1px $details-grey;
          .featured-image {
            float: left;
            width: 14.5vw;
            padding-left: 22px;
            .aspect-ratio {
              position: relative;
              width: 100%;
              &:before {
                content: '';
                display: block;
                padding-top: 75%;
              }
              .image-content {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                overflow: hidden;
                background-size: cover;
                background-repeat: no-repeat;
                transition: all .2s ease-in-out;
                -webkit-transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
                &:hover i {
                  opacity: .5;
                }
              }
            }
          }
          .item-details {
            float: left;
            width: 80vw;
            padding-left: 18px;
            padding-right: 10px;
            .item-date {
              color: #666666;
              font-size: 12px;
              padding: 26px 0px 0px 12px;
              line-height: 1.25;
              letter-spacing: .050;
              cursor: pointer;
              transition: all .2s ease-in-out;
              -webkit-transition: all .2s ease-in-out;
              -moz-transition: all .2s ease-in-out;
              -o-transition: all .2s ease-in-out;
              &:hover {
                opacity: .5;
              }
            }
            a {
              color: $main-black;
              transition: all .2s ease-in-out;
              -webkit-transition: all .2s ease-in-out;
              -moz-transition: all .2s ease-in-out;
              -o-transition: all .2s ease-in-out;
              &:hover {
                opacity: .5;
                text-decoration: none;
                color: $main-black;
              }
              h1.item-title {
                line-height: 1.1;
                font-size: 5rem;
                font-weight: 100;
              }
            }
            .item-excerpt {
              font-weight: 300;
              line-height: 1.4;
              padding-top: 14px;
              font-size: 1.4rem;
              .read-more {
                font-family: $body_font;
                font-size: 13px;
                line-height: 1.6;
                font-weight: bold;
              }
            }
          }
        }
        .news-item-last {
          border-bottom: none;
        }
      }
      .news-item-details-relative {
        border-top: solid 10px $main-black;
        margin: 0px 8px 0px 4px;
        a {
          color: $main-black;
          &:hover {
            text-decoration: none;
            color: $main-black;
          }
        }
        h4.news-title {
          margin: 0;
          line-height: 1;
          padding-top: 10px;
          padding-left: 7px;
          padding-bottom: 10px;
          font-weight: 100;
          border-bottom: solid 1px $details-grey;
          font-size: initial;
          transition: all .2s ease-in-out;
          -webkit-transition: all .2s ease-in-out;
          -moz-transition: all .2s ease-in-out;
          -o-transition: all .2s ease-in-out;
          &:hover {
            opacity: .5;
          }
        }
        .news-text {
          font-weight: 300;
          line-height: 1.73;
          padding-top: 30px;
        }
        .news-link {
          font-size: 18px;
          line-height: 1.3;
          font-weight: 500;
          padding-top: 40px;
          transition: all .2s ease-in-out;
          -webkit-transition: all .2s ease-in-out;
          -moz-transition: all .2s ease-in-out;
          -o-transition: all .2s ease-in-out;
          &:hover {
            opacity: .5;
          }
        }
        .news-item {
          padding: 25px 0px 10px 0px;
          display: flex;
          border-bottom: solid 1px $details-grey;
          .featured-image {
            float: left;
            width: 14.5vw;
            padding-left: 22px;
            .aspect-ratio {
              position: relative;
              width: 100%;
              &:before {
                content: '';
                display: block;
                padding-top: 75%;
              }
              .image-content {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                overflow: hidden;
                background-size: cover;
                background-repeat: no-repeat;
                transition: all .2s ease-in-out;
                -webkit-transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
                &:hover i {
                  opacity: .5;
                }
              }
            }
          }
          .item-details {
            float: left;
            width: 80vw;
            padding-left: 35px;
            padding-right: 10px;
            .item-date {
              color: #666666;
              font-size: 12px;
              padding-top: 2px;
              line-height: 1.25;
              letter-spacing: .050;
              cursor: pointer;
              transition: all .2s ease-in-out;
              -webkit-transition: all .2s ease-in-out;
              -moz-transition: all .2s ease-in-out;
              -o-transition: all .2s ease-in-out;
              &:hover {
                opacity: .5;
              }
            }
            a {
              color: $main-black;
              transition: all .2s ease-in-out;
              -webkit-transition: all .2s ease-in-out;
              -moz-transition: all .2s ease-in-out;
              -o-transition: all .2s ease-in-out;
              &:hover {
                opacity: .5;
                text-decoration: none;
                color: $main-black;
              }
              h3.item-title {
                line-height: 1.1;
                font-weight: bold;
                padding-top: 20px;
              }
            }
            .item-excerpt {
              font-weight: 300;
              line-height: 1.4;
              padding-top: 19px;
              .read-more {
                font-family: $body_font;
                font-size: 13px;
                line-height: 1.6;
                font-weight: bold;
              }
            }
          }
        }
        .news-item-last {
          border-bottom: none;
        }
      }
    }
  }
}